{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Wrapper Section -->
<section class="section wrapper wrapper-section">
    <div class="container wrapper-column">
       <div class="wrapper-overlay">
          <img src="https://i.ibb.co/3msVHYZ/sneaker-image.png" class="wrapper-image" alt="product">
       </div>
       <div class="wrapper-content">
          <div class="wrapper-inform">
             <span class="badge badge-darken">Man's Shoes</span>
             <h1 class="display-medium font-bold">Nike Air Motion Max</h1>
             <p class="text-base font-normal">
                The combine of breathable mesh without seams for wonderful traditional
                and modern style to add the perfect amount of flash to make you shine.
             </p>
          </div>
          <div class="wrapper-detail">
             <div class="price">
                <span class="text-base font-medium">Price:</span>
                <h3 class="text-large font-semi">$199.00</h3>
             </div>
          </div>
       </div>
    </div>
 </section>
 </main>

 {% endblock %}